/* ALL */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 16px;
}
.font-alexBrush {
  font-family: "Alex Brush", cursive;
  color: #48202a;
  font-weight: 900;
}
/* HEADER */
.image-holder {
  width: 100%;
  height: 400px;
  background-image: url("../img/bgheader.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-size-xl {
  font-size: 4rem;
  line-height: 70px;
}
.btn-brown {
  background-color: #48202a;
  color: white;
  border-radius: 0;
  transition: 0.3s ease-out;
}
.btn-brown:hover {
  background-color: white;
  color: #48202a;
  border: 1px solid #48202a;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.btn-outline-brown {
  background-color: white;
  color: #48202a;
  border: 1px solid #48202a;
  border-radius: 0;
  transition: 0.3s ease-out;
}
.btn-outline-brown:hover {
  background-color: #48202a;
  color: white;
}
/* BODY */
#content > div {
  margin-bottom: 3rem;
}
.hadith {
  text-align: center;
  margin: auto;
}
.container-couple {
  display: flex;
  justify-content: space-between;
}
.couple-half {
  display: flex;
  flex-basis: 40%;
}
.photo-holder {
  flex-basis: 40%;
  padding: 15px;
}
.photo-holder img {
  width: 100%;
  border-radius: 200px;
  border: 5px solid #48202a;
  padding: 5px;
}
.desc-groom {
  flex-basis: 60%;
  padding: 15px;
}
.desc-groom h1,
.desc-groom p {
  line-height: 1;
}
.schedule {
  display: flex;
}
.akad {
  flex-basis: 50%;
  margin-bottom: 30px;
}
/* .detail-akad {
  display: flex;
  justify-content: space-between;
} */
.detail-time,
.detail-place {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.detail-time p,
.detail-place p {
  margin: 0 !important;
}
.detail-time section:nth-child(1),
.detail-place section:nth-child(1) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 0;
  border-bottom: 4px solid black;
}
.detail-time section:nth-child(2),
.detail-place section:nth-child(2) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto auto;
}
.detail-date {
  background-image: url("../img/date.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 40%;
  border-right: 5px solid black;
  /* border-radius: 10px 10px; */
  border-left: 5px solid black;
  text-align: center;
}
.location {
  text-align: center;
  margin: auto;
}
iframe {
  border: none !important;
  width: 100%;
  height: 400px;
}
.i4ewOd-pzNkMb-haAclf {
  background-color: #48202a !important;
}
.countdown-container {
  background-image: url("../img/bg_countdown.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.countdown-container .container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.countdown-container .container h5 {
  letter-spacing: 8px;
}
.countdown-container .part-countdown:not(:last-child) {
  border-right: 2px solid black;
}
.countdown-container .part-countdown {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.protokol-kesehatan {
  display: flex;
}
.protokol-kesehatan > div {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}
.protokol-kesehatan img {
  width: 100%;
  margin-bottom: 15px;
}
.love-story-wrapper {
  background-image: url("../img/bg_lovestory.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}
.timelines {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.timeline {
  display: flex;
  margin-bottom: 20px;
  color: black;
  transition: 0.3s;
}
.timeline:hover {
  color: #48202a;
}
.timeline:hover .year {
  color: #48202a;
  transform: scale(1.1);
}
.timeline:hover .timelineBar::after {
  border: 3px solid #48202a;
}
.timelineBar {
  border: 1px solid #48202a;
  width: 1px;
  position: relative;
  top: 20px;
  margin-right: 50px;
  margin-left: 10px;
}
.timelineBar::after {
  border: 3px solid #48202a;
  border-radius: 50%;
  content: "";
  height: 20px;
  position: absolute;
  left: -10px;
  top: -21px;
  width: 20px;
  transition: 0.3s;
}
.timeline section {
  display: flex;
}
.year {
  /* margin-right: 40px;  */
  min-width: 180px;
  transition: all 0.8s;
}
.timelineContent p,
.year p {
  margin: 0;
}
.gallery-container {
  padding: 80px;
}
.gallery-container img {
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
}
.closing-hadith {
  background-image: url("../img/bg_lovestory.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}
.qrcode-container {
  display: flex;
}
.ovo,
.dana {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.ovo img,
.dana img {
  width: 100%;
}
#playButton,
#pauseButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  /* Body */
  .protokol-kesehatan > div {
    flex-basis: 50%;
    padding: 20px;
  }
  .timeline section {
    flex-direction: column;
  }
  .timeline section .year {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .timeline {
    color: black;
  }
  .timeline .timelineBar::after {
    border: 3px solid #48202a;
  }
}
@media screen and (max-width: 575px) {
  /* ALL */
  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  /* Body */
  body {
    font-size: 14px;
  }
  .image-holder {
    height: 310px;
  }
  .container-couple {
    flex-direction: column;
  }
  .schedule {
    flex-direction: column;
  }
  .akad {
    flex-basis: 100%;
  }
  .countdown-container .container h5 {
    letter-spacing: 3px;
  }
  .protokol-kesehatan {
    flex-direction: column;
  }
  .protokol-kesehatan > div {
    flex-basis: 100%;
    padding: 10px 5rem;
  }
  .timelines {
    margin-bottom: 3rem;
  }
  .timelineBar {
    margin-right: 40px;
  }
  .timelineContent {
    flex-direction: column;
  }
  .qrcode-container {
    flex-direction: column;
  }
  .ovo,
  .dana {
    padding: 20px 5rem;
  }
}
